{% extends 'layout/bg.twig' %}
{% block title %}Error {{code}}{% endblock %}

{% block column %}
<div class="ui segment">
	<div class="ui center aligned header red" id="error-route">{{ route }}</div>
</div>
<div class="ui very padded segment">
	<div class="ui huge center aligned header">	
		<span id="error-header">{{ code }}</span>
		<div class="ui divider"></div>
		<span class="sub header" id="error-subheader">{{
			code == 404 ? 'PAGE NOT FOUND' : 'ACCESS DENIED'
		}}</span>
	</div>
</div>
{% endblock %}