{% extends 'layout/base.twig' %}
{% block links %}
<link rel="stylesheet" href="/styles/bg.css">
{% endblock %}

{% block body %}
<div id='bg-container'>
<div class="ui middle aligned centered doubling grid" id='bg-grid'>
<div class='ui center aligned five wide column' id='bg-column'>{% block column %}{% endblock %}</div>
</div>
</div>
{% endblock %}