<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} - App</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="/styles/semantic/semantic.min.css">
{% block links %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>