{% macro item(url, icon) %}
<li>
	<a href="{% if path_is(url) %}#{% else %}{{ path_for(url) }}{% endif %}" 
	   class="file-{{ url }}{% if path_is(url) %} active{% endif %}">
		<div class="ui inverted mini statistic">
			<div class="value">
				<i class="{{ icon }} large icon"></i>
			</div>
			<div class="label">{{ url }}</div>
		</div>
	</a>
</li>
{% endmacro %}