body 
{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/background.jpeg");
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/background.jpeg");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

body,
#bg-container,
#bg-grid
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#bg-column
{
    min-width: 450px;
}

#signin-segment 
{
    padding-top: 21px;
}

#signin-checkbox 
{
    text-align: left;
}

#error-header
{
    font-size: 5rem;
}

#error-subheader
{
    font-size: 2rem;
}

#error-route
{
    word-break: break-all;
}

@media only screen and (max-width: 450px) 
{
    #bg-column
    {
        min-width: 95%;
    }
}